$bodyBackground: #DCBB9A;

$contentBackground: #FFFFFF;

$border: 2px solid rgba(0,0,0,0.5);

$titleFontColor: #893C00;

$fontColor: #000000;

$fontFormColor: #3B3B3B;

$backgroundBrief: #FADCBA;

$paddingBrief: 10px;

$marginBrief: 0 10px 0 0;

$widthBrief: 400px;

$trColor: #E0E0E0;

$allTrColor: #FFFFFF;

$submitTxtColot: #3D70A1;

$linkColor: #3D70A1;