$bodyBackground: rgba(198, 238, 252, 0.53);

$contentBackground: #3B3B3B;

$border: 2px solid #000000;

$titleFontColor: #FCCD10;

$fontColor: #FFFFFF;

$fontFormColor: #F5C70F;

$backgroundBrief: #FFF178;

$paddingBrief: 10px 25px;

$marginBrief: 0px 30px 35px 0;

$widthBrief: 95%;

$trColor: #94A34E;

$allTrColor: #677D01;

$submitTxtColot: #FCCD10;

$linkColor: #FCCD10;